.header {
    height: 40vh;
    width: 100%;

}

.header-top {
    height: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;

}

.header-bottom {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: red;    
    width: 70%;
    font-size: 22px;
}

.order {
    background: red;
    border-radius: 10px;
    padding: 5px;
    color: white;
}

.banner {
    height: 60vh;
    width: 100%;
}